{% extends "layout.njk" %}

{% block content %}
<div>
  <h2 class="text-center top-space"> Welcome on your dashboard events </h2>
  <div class ="container top-space">
    <div class="row justify-content-center">
      <!--<button type="button" class="btn btn-secondary col-2 offset-0">ADD AN ACTIVITY</button>-->
      <input type="button" class="btn btn-secondary col-2 offset-1" value="ADD AN ACTIVITY" onclick="location.href = '/newevent';">
      <button type="button" class="btn btn-secondary col-2 offset-1">HISTORY</button>
    </div>
  </div>
  <div class ="container top-space">
    <div class="row justify-content-center">
      <h4> EVENTS </h4>
    </div>
    <div class ="container">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">EVENT LABEL</th>
              <th scope="col">EVENT STATUS</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in events %}
            <tr>
              <td>{{item.label}}</td>
              <td>{{item.statut}}</td>
              <td>
                <form method="POST" action="/{{item.id}}">
                  <input type="hidden" name="eventID" value="{{item.id}}" />
                  <button type="submit"> Details </button>
                </form>
              </td>
            {% endfor %}
          </tbody>
        </table>
      </div>

</div>

{% endblock %}
