{% extends "layout.njk" %}

{% block content %}
<div>
  <h2 class="text-center top-space"> Expenses for event : {{event.label}} </h2>
  <div class ="container top-space">
    <div class="row justify-content-center">
      <input type="button" class="btn btn-secondary btn-sm col-2 offset-1" value="ADD AN EXPENSE" onclick="location.href = '/{{event.id}}/new_expense';">
      <input type="button" class="btn btn-secondary btn-sm col-2 offset-1" value="COMPUTE PAYBACK" onclick="location.href = '/{{event.id}}/balance';">
      <input type="button" class="btn btn-secondary btn-sm col-2 offset-1" value="BACK DASHBOARD" onclick="location.href = '/dashboard';">
    </div>
  </div>
<span>

  <div class ="container pt-5">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th align="center">WHO</th>
            <th align="center">AMOUNT</th>
            <th align="center">EXPENSE NATURE</th>
          </tr>
        </thead>
        <tbody>
          {% for item in expenses %}
          <tr>
            <td align="center">{{item.pseudo}}</td>
            <td align="center">{{ item.amount.toString().slice(0,-2) }},{{ item.amount.toString().slice(-2) }}€</td>
            <td align="center">{{item.label}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>




</div>

{% endblock %}
