{% extends "layout.njk" %}

{% block content %}
<div>
  <h2 class="text-center top-space"> Detail of the event number {{event.id}} </h2>
  <div class ="container top-space">
    <div class="row justify-content-center">
      <!--<button type="button" class="btn btn-secondary col-2 offset-0">ADD AN ACTIVITY</button>-->
      <input type="button" class="btn btn-secondary col-2 offset-1" value="ADD AN EXPENSE" onclick="location.href = '/{{event.id}}/new_expense';">
      <!--<button type="button" class="btn btn-secondary col-2 offset-1" href="/dashboard">BACK DASHBOARD</button>-->
      <input type="button" class="btn btn-secondary col-2 offset-1" value="BACK DASHBOARD" onclick="location.href = '/dashboard';">
    </div>
  </div>
  <!--<span> {{event.id}} </span>-->


  <div class ="container">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">WHO</th>
            <th scope="col">PAY</th>
            <th scope="col">WHEN</th>
          </tr>
        </thead>
        <tbody>
          {% for item in expenses %}
          <tr>
            <td>{{item.user_id}}</td>
            <td>{{item.amount}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>




</div>

{% endblock %}
