{% extends "layout.njk" %}

{% block content %}
<div>

  <h2> Details of the event : XXXX </h2>
  <div class="row pt-3">
    <div class="col-lg-2">
      <button> + Add an activity </button>
    </div>
    <div class="col-lg-2">
      <button> History </button>
    </div>
  </div>


  <
</div>

{% endblock %}
