<!DOCTYPE>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/home.css">
</head>
<header>
  <h1> Sharepay </h1>

</header>
<body>

{% block content %}
{% endblock %}
</body>
</html>
