{% extends "layout.njk" %}

{% block content %}

<div class="container justify-content-center">
  <form method="POST" action="/new_expense">
    <div class="row">
      <div class="col text-center">
        <h1> New expense </h1>
      </div>
    </div>
    <div class="row pt-5 justify-content-center">
      <div class="col-2 text-right">
        <label for="email"> Your email </label>
      </div>
      <div class="col-4 text-left">
        <input type="text" name="username" value="{{ user.email }}" maxlength="150"/>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2  text-right">
        <label for="password"> Your password </label>
      </div>
      <div class="col-4 text-left">
        <input type="password" name="password" value="{{ user.password }}" />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2  text-right">
        <label for="pseudo"> Your pseudo </label>
      </div>
      <div class="col-4 text-left">
        <input type="text" name="pseudo" value="{{ user.pseudo }}" />
      </div>
    </div>
    <div class="row pt-3">
      <div class="col text-center">
        <button type="submit"> login </button>
      </div>
    </div>
  </form>
  <div class="row pt-3">
    <div class="col text-center">
      <p class="message">{{ message }}</p>
      <p class="error">{{ error }} </p>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col text-center">
      <h6> Discover Sharepay
      <a href="/dashboard">Click here</a>
      </h6>
    </div>
  </div></div>

{% endblock %}
